body{
	font-family:sans-serif;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
div{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width: 400px;
	height: 350px;
	background-color:#acb0ad; 
	margin-top:7%;
	border-radius: 10px;
}
#welcome{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}